In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [39]:
import os, json

Scraping Bio information of 6000 athletes from Olympedia.org

In [ ]:
for i in range(1,6000):
    url = f'https://olympedia.org/athletes/{i}'
    
    reponse = requests.get(url)
    soup = BeautifulSoup(reponse.context, 'html.parser')

In [20]:
url = f'https://www.olympedia.org/athletes/1'

reponse = requests.get(url)
soup = BeautifulSoup(reponse.content, 'html.parser')
    
    
table = soup.find('table')
rows = table.find_all('tr')


data = {}

for row in rows:
    
    keys = row.find('th')
    keys = keys.getText()
    
    
    vals = row.find('td')
    vals = vals.getText()
    
    
    data[keys] = f'{vals}'

In [21]:
data

{'Roles': 'Competed in Olympic Games',
 'Sex': 'Male',
 'Full name': 'François Joseph Marie Antoine "Jean-François"•Blanchy',
 'Used name': 'Jean-François•Blanchy',
 'Born': '12 December 1886 in Bordeaux, Gironde (FRA)',
 'Died': '2 October 1960 in Saint-Jean-de-Luz, Pyrénées-Atlantiques (FRA)',
 'NOC': ' France'}

In [36]:
athletes = []

for i in range(1,120000,10):

    try:
        url = f'https://www.olympedia.org/athletes/{i}'

        reponse = requests.get(url)
        soup = BeautifulSoup(reponse.content, 'html.parser')
            
            
        table = soup.find('table')
        rows = table.find_all('tr')


        data = {}

        for row in rows:
            
            keys = row.find('th')
            keys = keys.getText()
            
            
            vals = row.find('td')
            vals = vals.getText()
            
            
            data[keys] = f'{vals}'
            
        if i % 1000 == 0:
            print(i)
            
    except Exception as e:
        print(e)
        
    athletes.append(data)

'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'
'NoneType' object has no attribute 'find_all'

In [37]:
athletes[:10]

[{'Roles': 'Competed in Olympic Games',
  'Sex': 'Male',
  'Full name': 'François Joseph Marie Antoine "Jean-François"•Blanchy',
  'Used name': 'Jean-François•Blanchy',
  'Born': '12 December 1886 in Bordeaux, Gironde (FRA)',
  'Died': '2 October 1960 in Saint-Jean-de-Luz, Pyrénées-Atlantiques (FRA)',
  'NOC': ' France'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Male',
  'Full name': 'Élie Marie Gabriel•Dor de Lastours',
  'Used name': 'Élie, Comte•de Lastours',
  'Born': '12 August 1874 in Orgeval, Yvelines (FRA)',
  'Died': '18 November 1932 in Castres, Tarn (FRA)',
  'Title(s)': 'Comte (Count)',
  'NOC': ' France'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Male',
  'Full name': 'Pierre Michel•Hirsch',
  'Used name': 'Pierre•Hirsch',
  'Born': '8 November 1900 in Paris Ie, Paris (FRA)',
  'Died': '19 April 1942 in Oświęcim, Małopolskie (POL)',
  'Affiliations': 'Sporting club de Paris, Paris (FRA)',
  'NOC': ' France'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Male',
  'Full name': 'André Adrien Hippolyte•Prévost',
  'Used name': 'André•Prévost',
  'Born': '28 February 1875 in Paris VIIIe, Paris (FRA)',
  'Died': '22 November 1951 in Neuilly-sur-Seine, Hauts-de-Seine (FRA)',
  'Affiliations': 'Tennis Club de Puteaux, Puteaux (FRA)',
  'NOC': ' France'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Female',
  'Full name': 'Julie Jane•Bradbury',
  'Used name': 'Julie•Bradbury',
  'Born': '12 February 1967 in Oxford, England (GBR)',
  'Measurements': '175 cm / 64 kg',
  'NOC': ' Great Britain'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Female',
  'Full name': 'Alice Norah Gertrude•Greene',
  'Used name': 'Alice•Greene',
  'Born': '15 October 1879 in Upton, England (GBR)',
  'Died': '26 October 1956 in Saint Brélade, Jersey (JER)',
  'NOC': ' Great Britain'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Female',
  'Full name': 'Kelly Ann•Morgan (-Aston)',
  'Used name': 'Kelly•Morgan',
  'Born': '22 May 1975 in Pontypridd, Wales (GBR)',
  'Measurements': '178 cm / 65 kg',
  'NOC': ' Great Britain'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Female',
  'Full name': 'Ruth Isabel•Winch (Legh-)',
  'Used name': 'Ruth•Winch',
  'Born': '25 August 1870 in Ryde, England (GBR)',
  'Died': '9 January 1952 in Beaumaris, Wales (GBR)',
  'NOC': ' Great Britain'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Male',
  'Full name': 'George Aristides•Caridia (Karidias-)',
  'Used name': 'George•Caridia',
  'Born': '20 February 1869 in Kolkata (Calcutta), West Bengal (IND)',
  'Died': '21 April 1937 in Marylebone, England (GBR)',
  'NOC': ' Great Britain'},
 {'Roles': 'Competed in Olympic Games',
  'Sex': 'Male',
  'Full name': 'Wilberforce Vaughan•Eaves',
  'Used name': 'Wilberforce•Eaves',
  'Born': '10 December 1867 in Melbourne, Victoria (AUS)',
  'Died': '10 February 1920 in Marylebone, England (GBR)',
  'NOC': ' Great Britain'}]

In [35]:
lst = []

for i in range(10, 120000, 10):
    
    if i % 1000 == 0:
        print(i)
    
    lst.append(i)

print(100%10)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
0

In [33]:
lst

[1,
 11,
 21,
 31,
 41,
 51,
 61,
 71,
 81,
 91,
 101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191,
 201,
 211,
 221,
 231,
 241,
 251,
 261,
 271,
 281,
 291,
 301,
 311,
 321,
 331,
 341,
 351,
 361,
 371,
 381,
 391,
 401,
 411,
 421,
 431,
 441,
 451,
 461,
 471,
 481,
 491,
 501,
 511,
 521,
 531,
 541,
 551,
 561,
 571,
 581,
 591,
 601,
 611,
 621,
 631,
 641,
 651,
 661,
 671,
 681,
 691,
 701,
 711,
 721,
 731,
 741,
 751,
 761,
 771,
 781,
 791,
 801,
 811,
 821,
 831,
 841,
 851,
 861,
 871,
 881,
 891,
 901,
 911,
 921,
 931,
 941,
 951,
 961,
 971,
 981,
 991,
 1001,
 1011,
 1021,
 1031,
 1041,
 1051,
 1061,
 1071,
 1081,
 1091,
 1101,
 1111,
 1121,
 1131,
 1141,
 1151,
 1161,
 1171,
 1181,
 1191,
 1201,
 1211,
 1221,
 1231,
 1241,
 1251,
 1261,
 1271,
 1281,
 1291,
 1301,
 1311,
 1321,
 1331,
 1341,
 1351,
 1361,
 1371,
 1381,
 1391,
 1401,
 1411,
 1421,
 1431,
 1441,
 1451,
 1461,
 1471,
 1481,
 1491,
 1501,
 1511,
 1521,
 1531,
 1541,
 1551,
 1561,
 1571,
 1581,
 1591,
 1601,
 1611,
 1621,
 1631,
 1641,
 1651,
 1661,
 1671,
 1681,
 1691,
 1701,
 1711,
 1721,
 1731,
 1741,
 1751,
 1761,
 1771,
 1781,
 1791,
 1801,
 1811,
 1821,
 1831,
 1841,
 1851,
 1861,
 1871,
 1881,
 1891,
 1901,
 1911,
 1921,
 1931,
 1941,
 1951,
 1961,
 1971,
 1981,
 1991,
 2001,
 2011,
 2021,
 2031,
 2041,
 2051,
 2061,
 2071,
 2081,
 2091,
 2101,
 2111,
 2121,
 2131,
 2141,
 2151,
 2161,
 2171,
 2181,
 2191,
 2201,
 2211,
 2221,
 2231,
 2241,
 2251,
 2261,
 2271,
 2281,
 2291,
 2301,
 2311,
 2321,
 2331,
 2341,
 2351,
 2361,
 2371,
 2381,
 2391,
 2401,
 2411,
 2421,
 2431,
 2441,
 2451,
 2461,
 2471,
 2481,
 2491,
 2501,
 2511,
 2521,
 2531,
 2541,
 2551,
 2561,
 2571,
 2581,
 2591,
 2601,
 2611,
 2621,
 2631,
 2641,
 2651,
 2661,
 2671,
 2681,
 2691,
 2701,
 2711,
 2721,
 2731,
 2741,
 2751,
 2761,
 2771,
 2781,
 2791,
 2801,
 2811,
 2821,
 2831,
 2841,
 2851,
 2861,
 2871,
 2881,
 2891,
 2901,
 2911,
 2921,
 2931,
 2941,
 2951,
 2961,
 2971,
 2981,
 2991,
 3001,
 3011,
 3021,
 3031,
 3041,
 3051,
 3061,
 3071,
 3081,
 3091,
 3101,
 3111,
 3121,
 3131,
 3141,
 3151,
 3161,
 3171,
 3181,
 3191,
 3201,
 3211,
 3221,
 3231,
 3241,
 3251,
 3261,
 3271,
 3281,
 3291,
 3301,
 3311,
 3321,
 3331,
 3341,
 3351,
 3361,
 3371,
 3381,
 3391,
 3401,
 3411,
 3421,
 3431,
 3441,
 3451,
 3461,
 3471,
 3481,
 3491,
 3501,
 3511,
 3521,
 3531,
 3541,
 3551,
 3561,
 3571,
 3581,
 3591,
 3601,
 3611,
 3621,
 3631,
 3641,
 3651,
 3661,
 3671,
 3681,
 3691,
 3701,
 3711,
 3721,
 3731,
 3741,
 3751,
 3761,
 3771,
 3781,
 3791,
 3801,
 3811,
 3821,
 3831,
 3841,
 3851,
 3861,
 3871,
 3881,
 3891,
 3901,
 3911,
 3921,
 3931,
 3941,
 3951,
 3961,
 3971,
 3981,
 3991,
 4001,
 4011,
 4021,
 4031,
 4041,
 4051,
 4061,
 4071,
 4081,
 4091,
 4101,
 4111,
 4121,
 4131,
 4141,
 4151,
 4161,
 4171,
 4181,
 4191,
 4201,
 4211,
 4221,
 4231,
 4241,
 4251,
 4261,
 4271,
 4281,
 4291,
 4301,
 4311,
 4321,
 4331,
 4341,
 4351,
 4361,
 4371,
 4381,
 4391,
 4401,
 4411,
 4421,
 4431,
 4441,
 4451,
 4461,
 4471,
 4481,
 4491,
 4501,
 4511,
 4521,
 4531,
 4541,
 4551,
 4561,
 4571,
 4581,
 4591,
 4601,
 4611,
 4621,
 4631,
 4641,
 4651,
 4661,
 4671,
 4681,
 4691,
 4701,
 4711,
 4721,
 4731,
 4741,
 4751,
 4761,
 4771,
 4781,
 4791,
 4801,
 4811,
 4821,
 4831,
 4841,
 4851,
 4861,
 4871,
 4881,
 4891,
 4901,
 4911,
 4921,
 4931,
 4941,
 4951,
 4961,
 4971,
 4981,
 4991,
 5001,
 5011,
 5021,
 5031,
 5041,
 5051,
 5061,
 5071,
 5081,
 5091,
 5101,
 5111,
 5121,
 5131,
 5141,
 5151,
 5161,
 5171,
 5181,
 5191,
 5201,
 5211,
 5221,
 5231,
 5241,
 5251,
 5261,
 5271,
 5281,
 5291,
 5301,
 5311,
 5321,
 5331,
 5341,
 5351,
 5361,
 5371,
 5381,
 5391,
 5401,
 5411,
 5421,
 5431,
 5441,
 5451,
 5461,
 5471,
 5481,
 5491,
 5501,
 5511,
 5521,
 5531,
 5541,
 5551,
 5561,
 5571,
 5581,
 5591,
 5601,
 5611,
 5621,
 5631,
 5641,
 5651,
 5661,
 5671,
 5681,
 5691,
 5701,
 5711,
 5721,
 5731,
 5741,
 5751,
 5761,
 5771,
 5781,
 5791,
 5801,
 5811,
 5821,
 5831,
 5841,
 5851,
 5861,
 5871,
 5881,
 5891,
 5901,
 5911,
 5921,
 5931,
 5941,
 5951,
 5961,
 5971,
 5981,
 5991,
 6001,
 6011,
 6021,
 6031,
 6041,
 6051,
 6061,
 6071,
 6081,
 6091,
 6101,
 6111,
 6121,
 6131,
 6141,
 6151,
 6161,
 6171,
 6181,
 6191,
 6201,
 6211,
 6221,
 6231,
 6241,
 6251,
 6261,
 6271,
 6281,
 6291,
 6301,
 6311,
 6321,
 6331,
 6341,
 6351,
 6361,
 6371,
 6381,
 6391,
 6401,
 6411,
 6421,
 6431,
 6441,
 6451,
 6461,
 6471,
 6481,
 6491,
 6501,
 6511,
 6521,
 6531,
 6541,
 6551,
 6561,
 6571,
 6581,
 6591,
 6601,
 6611,
 6621,
 6631,
 6641,
 6651,
 6661,
 6671,
 6681,
 6691,
 6701,
 6711,
 6721,
 6731,
 6741,
 6751,
 6761,
 6771,
 6781,
 6791,
 6801,
 6811,
 6821,
 6831,
 6841,
 6851,
 6861,
 6871,
 6881,
 6891,
 6901,
 6911,
 6921,
 6931,
 6941,
 6951,
 6961,
 6971,
 6981,
 6991,
 7001,
 7011,
 7021,
 7031,
 7041,
 7051,
 7061,
 7071,
 7081,
 7091,
 7101,
 7111,
 7121,
 7131,
 7141,
 7151,
 7161,
 7171,
 7181,
 7191,
 7201,
 7211,
 7221,
 7231,
 7241,
 7251,
 7261,
 7271,
 7281,
 7291,
 7301,
 7311,
 7321,
 7331,
 7341,
 7351,
 7361,
 7371,
 7381,
 7391,
 7401,
 7411,
 7421,
 7431,
 7441,
 7451,
 7461,
 7471,
 7481,
 7491,
 7501,
 7511,
 7521,
 7531,
 7541,
 7551,
 7561,
 7571,
 7581,
 7591,
 7601,
 7611,
 7621,
 7631,
 7641,
 7651,
 7661,
 7671,
 7681,
 7691,
 7701,
 7711,
 7721,
 7731,
 7741,
 7751,
 7761,
 7771,
 7781,
 7791,
 7801,
 7811,
 7821,
 7831,
 7841,
 7851,
 7861,
 7871,
 7881,
 7891,
 7901,
 7911,
 7921,
 7931,
 7941,
 7951,
 7961,
 7971,
 7981,
 7991,
 8001,
 8011,
 8021,
 8031,
 8041,
 8051,
 8061,
 8071,
 8081,
 8091,
 8101,
 8111,
 8121,
 8131,
 8141,
 8151,
 8161,
 8171,
 8181,
 8191,
 8201,
 8211,
 8221,
 8231,
 8241,
 8251,
 8261,
 8271,
 8281,
 8291,
 8301,
 8311,
 8321,
 8331,
 8341,
 8351,
 8361,
 8371,
 8381,
 8391,
 8401,
 8411,
 8421,
 8431,
 8441,
 8451,
 8461,
 8471,
 8481,
 8491,
 8501,
 8511,
 8521,
 8531,
 8541,
 8551,
 8561,
 8571,
 8581,
 8591,
 8601,
 8611,
 8621,
 8631,
 8641,
 8651,
 8661,
 8671,
 8681,
 8691,
 8701,
 8711,
 8721,
 8731,
 8741,
 8751,
 8761,
 8771,
 8781,
 8791,
 8801,
 8811,
 8821,
 8831,
 8841,
 8851,
 8861,
 8871,
 8881,
 8891,
 8901,
 8911,
 8921,
 8931,
 8941,
 8951,
 8961,
 8971,
 8981,
 8991,
 9001,
 9011,
 9021,
 9031,
 9041,
 9051,
 9061,
 9071,
 9081,
 9091,
 9101,
 9111,
 9121,
 9131,
 9141,
 9151,
 9161,
 9171,
 9181,
 9191,
 9201,
 9211,
 9221,
 9231,
 9241,
 9251,
 9261,
 9271,
 9281,
 9291,
 9301,
 9311,
 9321,
 9331,
 9341,
 9351,
 9361,
 9371,
 9381,
 9391,
 9401,
 9411,
 9421,
 9431,
 9441,
 9451,
 9461,
 9471,
 9481,
 9491,
 9501,
 9511,
 9521,
 9531,
 9541,
 9551,
 9561,
 9571,
 9581,
 9591,
 9601,
 9611,
 9621,
 9631,
 9641,
 9651,
 9661,
 9671,
 9681,
 9691,
 9701,
 9711,
 9721,
 9731,
 9741,
 9751,
 9761,
 9771,
 9781,
 9791,
 9801,
 9811,
 9821,
 9831,
 9841,
 9851,
 9861,
 9871,
 9881,
 9891,
 9901,
 9911,
 9921,
 9931,
 9941,
 9951,
 9961,
 9971,
 9981,
 9991,
 ...]

In [40]:
with open('bio-data.json', 'w') as f:
    json.dump(athletes, f, indent=4)

In [41]:
df = pd.read_json('bio-data.json')

In [42]:
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,Title(s),Affiliations,Measurements,Original name,Other names,Name order,Nick/petnames,Nationality
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Élie Marie Gabriel•Dor de Lastours,"Élie, Comte•de Lastours","12 August 1874 in Orgeval, Yvelines (FRA)","18 November 1932 in Castres, Tarn (FRA)",France,Comte (Count),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games,Male,Pierre Michel•Hirsch,Pierre•Hirsch,"8 November 1900 in Paris Ie, Paris (FRA)","19 April 1942 in Oświęcim, Małopolskie (POL)",France,NaN,"Sporting club de Paris, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,André Adrien Hippolyte•Prévost,André•Prévost,"28 February 1875 in Paris VIIIe, Paris (FRA)","22 November 1951 in Neuilly-sur-Seine, Hauts-d...",France,NaN,"Tennis Club de Puteaux, Puteaux (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Female,Julie Jane•Bradbury,Julie•Bradbury,"12 February 1967 in Oxford, England (GBR)",NaN,Great Britain,NaN,NaN,175 cm / 64 kg,NaN,NaN,NaN,NaN,NaN

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Roles          12000 non-null  object
 1   Sex            12000 non-null  object
 2   Full name      12000 non-null  object
 3   Used name      12000 non-null  object
 4   Born           11827 non-null  object
 5   Died           3375 non-null   object
 6   NOC            12000 non-null  object
 7   Title(s)       28 non-null     object
 8   Affiliations   7998 non-null   object
 9   Measurements   8995 non-null   object
 10  Original name  2405 non-null   object
 11  Other names    618 non-null    object
 12  Name order     585 non-null    object
 13  Nick/petnames  718 non-null    object
 14  Nationality    803 non-null    object
dtypes: object(15)
memory usage: 1.4+ MB